body{
    background-color: black;
}
*{
    color:white;
}
#alita-profile-image{
    width: 50%;
    height: 50%;
}
header, #about-alita , #characteristics, #mission{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    background-color: BLUE;
}
section #about-alita{
    color:black;
    background-color: white;
}
#Alita-at-begining{
    width: 80%;
    height:50%;
    border-radius:20px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:50px;
    height:30px;
    height: 20%;
}